<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetointegradordigitalhouse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_marvelx"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_marvelx"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoIntegradorDigitalHouse">
        <activity android:name=".view.PopUpWindow"
            android:theme="@style/Theme.PopMe">
        </activity>
        <activity android:name=".view.FavoritesActivity" />
        <activity android:name=".view.RegisterSplash" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.MovieActivity" />
        <activity android:name=".view.SeriesActivity"
            android:theme="@style/FirebaseTheme"/>
        <activity android:name=".view.ComicActivity"
            android:theme="@style/FirebaseTheme"/>
        <activity android:name=".view.CharacterActivity"
            android:theme="@style/FirebaseTheme"/>
        <activity android:name=".view.ChipSearchActivity"
            android:theme="@style/FirebaseTheme" >
        </activity>
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.HomeActivity"
            android:theme="@style/FirebaseTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>